.navbar {
  font-size: 18px;
  position: relative;
  padding: 10px 0px;
}

nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}
.main-nav li {
  text-align: left;
  margin: 15px auto;
}

.logo, .nav-links {
  text-decoration: none;
  color: #0a0a0a;
  padding: 0 em;
  display: inline-block;
  transition: all 0.2s linear;
  font-size: 16px;
}

.logo {
  display: inline-block;
  font-size: 22px;
}

.navbar-toggle {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
  color: #1c1c1c;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    min-height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
.nav-links:hover {
    color: #161616;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a.read--more {
  padding: 5px 10px;
  border: 2px solid #ef4297;
  border-radius: 1px 20px 5px 1px;
  color: #ef4297;
  transition: 0.5s;
}
a.read--more:hover {
  background-color: #ef4297;
  color: #fff;
}

a.read--more--part {
  color: #ef4297;
}

.padding-x-axis {
  padding-left: 70px;
  padding-right: 70px;
}
@media screen and (max-width: 768px) {
  .padding-x-axis {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.padding-y-axis {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .padding-y-axis {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.img__thumbnail {
  max-width: 100%;
}

.title__heading {
  color: #41474c;
  font-size: 45px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 480px) {
  h2.text {
    font-size: 14px;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 16px;
  }

  .title__heading {
    font-size: 30px;
  }

  .section__heading .text {
    margin-bottom: 20px;
    margin-bottom: 0.8em;
  }

  .newsletter input[type=email] {
    margin-bottom: 20px;
  }
}
.slider-wrapper {
  position: relative;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.slider-wrapper a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .slider-wrapper {
    height: 100%;
  }
}

.slick-slide img {
  width: 100%;
}

.slider__content {
  position: relative;
}
.slider__content .slider__text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding-top: 120px;
  width: 600px;
}
@media screen and (max-width: 768px) {
  .slider__content .slider__text {
    width: 90%;
    padding: 0px 30px 0px 30px;
    padding-top: 90px;
  }
}
@media screen and (max-width: 480px) {
  .slider__content .slider__text {
    padding-top: 70px;
  }
}

.slider__next, .slider__prev {
  font-size: 50px;
  color: #ef4297;
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slider__next, .slider__prev {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slider__prev {
  top: 50%;
  left: 0px;
}
@media screen and (max-width: 1024px) {
  .slider__prev {
    left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .slider__prev {
    display: none !important;
  }
}

.slider__next {
  top: 50%;
  right: 0px;
}
@media screen and (max-width: 1024px) {
  .slider__next {
    right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .slider__next {
    display: none !important;
  }
}

.about__contain .about__contain--inner .text, .about__contain .about__contain--inner .title__heading, .slider__category--travel__about, .slider__category--title, .slider__category--travel {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .about__contain .about__contain--inner .text, .about__contain .about__contain--inner .title__heading, .slider__category--travel__about, .slider__category--title, .slider__category--travel {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 576px) {
  .about__contain .about__contain--inner .text, .about__contain .about__contain--inner .title__heading, .slider__category--travel__about, .slider__category--title, .slider__category--travel {
    margin-bottom: 15px;
  }
}

.slider__category--travel {
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
@media screen and (max-width: 576px) {
  .slider__category--travel {
    font-size: 15px;
  }
}
.slider__category--title {
  font-size: 4.6875rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .slider__category--title {
    font-size: 2rem;
  }
}
.slider__category--travel__about {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 30px;
  width: 430px;
}
@media screen and (max-width: 576px) {
  .slider__category--travel__about {
    width: 100%;
    line-height: 18px;
  }
}
.slider__category--read__more--text {
  border-color: #ef4297;
  background-color: #ef4297;
  color: #ffffff;
  border-radius: 2px;
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  text-transform: uppercase;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .slider__category--read__more--text {
    padding: 10px 20px;
  }
}

.slider__image {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .slider__image {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .slider__image {
    height: 400px;
  }
}

.about__inner--padding {
  padding-top: 60px;
  padding-bottom: 50px;
}
.about__flex {
  display: flex;
  flex-wrap: wrap;
}
.about__images {
  width: 100%;
}
@media (min-width: 768px) {
  .about__images {
    width: 50%;
  }
}
.about__images .thumbnail {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .about__images .thumbnail {
    padding-right: 0px;
  }
}
.about__contain {
  width: 100%;
}
@media (min-width: 768px) {
  .about__contain {
    width: 50%;
  }
}
.about__contain .about__contain--inner {
  padding-left: 20px;
}
h4 {
  color: #ef4297;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
h4 a.link {
  padding-bottom: 10px;
  display: block;
  color: #ef4297;
}

h2.text {
  font-size: 16px;
  font-weight: 400;
  color: #262d33;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: #262d33;
}

@media screen and (max-width: 480px) {
  h2.text {
    font-size: 14px;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 16px;
  }
}
.activities {
  background-color: #f3f3f3;
}
.activities .grid-class--first {
  background-color: #fff;
}
.activities .grid-class--second {
  background-color: #fff;
}
.activities .grid-class--third {
  background-color: #fff;
}
.activities .grid-class--img {
  position: relative;
  height: auto;
}
.activities .grid-class--img__height {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.activities .grid-class__activity {
  position: absolute;
  bottom: 0px;
  background: #ef4297;
  border-radius: 0px 20px 0px 0px;
  padding: 10px 20px;
}
.activities .grid-class__activity--title {
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.activities .grid-class--heading {
  padding: 20px 20px;
}

.section__heading {
  padding-bottom: 20px;
}
.section__heading .title__heading {
  margin-bottom: 20px;
}
.section__heading .text {
  margin-bottom: 20px;
  margin-bottom: 1.75em;
}

.newsletter {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background2.jpg");
}
.newsletter__inner {
  padding: 40px 0px;
}
.newsletter__heading {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.newsletter__text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  margin-bottom: 20px;
  margin-bottom: 1.75em;
}
.newsletter input[type=email] {
  padding: 10px 10px;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #000;
  width: 71%;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
.newsletter button {
  border-color: #ef4297;
  background-color: #ef4297;
  color: #ffffff;
  border-radius: 2px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
}

@media (min-width: 768px) {
  .grid-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-class--first {
    grid-column: span 2;
    grid-row: span 2;
    margin: 0px 15px 0px 15px;
  }
  .grid-class--img {
    height: 260px;
  }
  .grid-class--img__height {
    height: 260px;
  }
}
.package-destination a {
  display: block;
  margin-bottom: 10px;
  margin: 0 15px;
}
.package-destination--detail {
  position: relative;
}
.package-destination--contain {
  height: 450px;
  position: relative;
  background-color: #00000078;
  position: relative;
}
.package-destination--contain__inner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 20px;
  background: linear-gradient(to top, #313131 0%, rgba(62, 59, 59, 0.74) 19%, rgba(117, 117, 117, 0.541) 34%, rgba(117, 117, 117, 0.382) 47%, rgba(117, 117, 117, 0.278) 56.5%, rgba(117, 117, 117, 0.194) 65%, rgba(117, 117, 117, 0.126) 73%, rgba(117, 117, 117, 0.075) 80.2%, rgba(117, 117, 117, 0.042) 86.1%, rgba(117, 117, 117, 0.021) 91%, rgba(117, 117, 117, 0.008) 95.2%, rgba(33, 30, 30, 0) 98.2%, transparent 100%);
}
.package-destination--place {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.package-destination--about {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.package-destination--img__height {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.package-destination .slider__destination__right {
  position: absolute;
  right: 15px;
  top: -50px;
  color: #ef4297;
  font-size: 30px;
}
.package-destination .slider__destination__left {
  position: absolute;
  right: 50px;
  top: -50px;
  color: #ef4297;
  font-size: 30px;
}

.testimonial {
  background-color: #f3f3f3;
}
.testimonial__images {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.testimonial__contain {
  text-align: center;
  padding: 20px 15px 0px;
  display: inline-block;
}
.testimonial__contain .text {
  padding-bottom: 15px;
}
.testimonial__part {
  background-color: #fff;
  padding: 30px 10px;
  margin: 0px 15px;
}
.testimonial ul {
  text-align: center;
  padding-top: 20px;
  display: none !important;
}
.testimonial li {
  list-style: none;
  display: inline-block;
  padding: 3px;
}
.testimonial li button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
}

.services__article {
  margin: 0px 15px 0px 15px;
  margin: 0px 15px 30px;
  background: #f3f3f3;
  padding: 20px;
}
.services__icon {
  background-color: #ef4297;
  margin-right: 20px;
  padding: 5px;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.services__img--icon {
  display: block;
  width: 60px;
  height: 60px;
}
.services__flex {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .services__flex {
    display: block;
  }
}

@media (min-width: 768px) {
  .services__contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .services__article {
    grid-column: span 2;
    grid-row: span 2;
    margin: 0px 15px 0px 15px;
    margin: 0px 15px 30px;
    background: #f3f3f3;
    padding: 20px;
  }
}
.footer {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(10, 0, 5, 0.72), rgba(10, 0, 5, 0.72)), url(../images/footer2.jpg);
}
.footer .text {
  padding: 20px 0px;
  color: #fff;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1768px) {
  .footer .text {
    width: 100%;
  }
}
.footer__contain {
  padding: 40px 0px;
}

.footer-bottom {
  background-color: #000;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.footer-bottom a {
  color: #ef4297;
}

.social__icon {
  background: #eee;
  font-size: 23px;
  width: 33px;
  height: 33px;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  margin: 15px 3px;
  color: #ef4297;
}
.social__icon:hover {
  background-color: #ef4297;
  color: #eee;
}
