* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.padding-x-axis {
  padding-left: 70px;
  padding-right: 70px;
}

.padding-y-axis {
  padding-top: 70px;
  padding-bottom: 70px;
}
.margin-bottom{
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.img__thumbnail {
  max-width: 100%;
}

.title__heading {
  color: #41474c;
  font-size: 45px;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}