@media (min-width: 768px) {
    .grid-class {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        &--first {
            grid-column: span 2;
            grid-row: span 2;
            margin-right: 10px;
              
           
        }
        &--second {
            grid-column: span 2;
            grid-row: span 2;
            margin: 0px 5px;
              
        }
        &--third {
            grid-column: span 2;
            grid-row: span 2;
            margin-left: 10px;
                
           
        }
        &--img{
           
            height: 260px;
        }
        &--img__height {
            height: 260px;
           
        }
  
    }

}
@media (min-width: 768px) {
    .package-destination--grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        &--one {
            grid-column: span 2;
            grid-row: span 2;
            margin-right: 10px;
              
           
        }
        &--two {
            grid-column: span 2;
            grid-row: span 2;
            margin-right: 10px;
              
           
        }
        &--three {
            grid-column: span 2;
            grid-row: span 2;
            margin-right: 10px;
              
           
        }
        &--four {
            grid-column: span 2;
            grid-row: span 2;
            margin-right: 10px;
              
           
        }
       
  
    }

}