@media (min-width: 768px) {
    .grid-class {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        &--first {
            grid-column: span 2;
            grid-row: span 2;
            margin: 0px 15px 0px 15px;
              
           
        }
       
        &--img{
           
            height: 260px;
        }
        &--img__height {
            height: 260px;
           
        }
  
    }

}
