.social{
   &__icon{  
    background: #eee;
    font-size: 23px;
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    margin: 15px 3px;
    color: #ef4297;
    &:hover{
        background-color: #ef4297;
        color: #eee;
    }
    
   }
}